/*
 * COMPASS IMPORTS
 *
 */
/*
 * GLOBAL VARIABLES OH YES 
 *
 */
/*
 * MIXINS
 *
 */
/*
 * COLOURS
 *
 */
/*
 * HANDY
 *
 */
body:before {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: red;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
@media only screen and (max-width: 479px) {
  body:before {
    content: "Handheld";
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body:before {
    content: "Wide Handheld";
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body:before {
    content: "Tablet";
  }
}
@media only screen and (min-width: 960px) {
  body:before {
    content: "Desktop";
  }
}

/*
 * GLOBAL
 *
 */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #feffe0;
}

body.container {
  padding-top: 60px;
}
body.container input {
  border: none;
  background-color: #feffe0;
  display: inline;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

section#pls {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: #222222;
}
section#pls h1 {
  margin-bottom: 20px;
}
section#pls input {
  border-bottom: 1px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 30px;
}

section#twttr input {
  border-bottom: 1px solid #c2c2c2;
  font-family: sans-serif;
  font-size: 20px;
}
